@import "variables/variables";
@import "mixins/breakpoints";
@import "fonts/nexafont";
@import "fonts/montserrat";

body {
  padding: 0;
  margin: 0;
  font-family: $body-font-family; //$body-font-family2
}

.textTruncate {
  min-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}