@import "variables";
@import "mixins/mixins";
// N.B. include breakpoints only with variables!
@import "mixins/breakpoints";
@import "mixins/flexbox";
@import "mixins/utils";
@import "fonts/nexafont";
@import "fonts/montserrat";

body {
	padding: 0;
	margin: 0;
	color: $body-font-color;
	font-family: $body-font-family; //$body-font-family2
}

.textBold {
	font-family: $body-font-family; //$body-font-family2
	font-weight: bold;
}

.textTruncate {
	min-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
	color: inherit;
}
a, button {
	&:focus {
		outline: none;
	}
}

.verifiedBadge {
	max-width: $regular-spacer * 2;
}