@import "variables";
@import "fonts/nexafont";
@import "fonts/montserrat";
// N.B. include breakpoints only with variables!
@import "mixins/breakpoints";
@import "mixins/flexbox";
@import "mixins/paddings";

body {
	padding: 0;
	margin: 0;
	color: $body-font-color;
	font-family: $body-font-family; //$body-font-family2
}

.textBold {
	font-family: $body-font-family; //$body-font-family2
	font-weight: bold;
}

.textTruncate {
	min-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
	color: inherit;
}
a, button, input, select, textarea {
	&:focus {
		outline: none;
	}
}

.verifiedBadge {
	max-width: $regular-spacer * 2;
}


.sidebaMenu a {
	display: block;
	position: relative;
	&.active {
		&:before {
			content: '';
			position: absolute;
			width: 4px;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			background-color: $green;
		}
	}
}

.sliderImage {
	width: 100%;
	height: auto;
}
.slideWrapper {
	height: 100%;
	@extend .flexColumn;
	@extend .alignCenter;
	@extend .justifySpaceAround;
}
