// MAIN PROJECT VARIABLES
// SIZES
$regular-spacer: 8px;
$large-spacer: $regular-spacer*2;
$xlarge-spacer: $regular-spacer*3;
// COLORS
$white: #ffffff;
$black: #000000;
$slate-gray: #586881;
$mig-gray: #DBE0E4;
$green: #65B98E;
// FONTS
$nexa-bold: 'Nexa-Bold';
$nexa-regular: 'Nexa-Book';
$nexa-light: 'Nexa-Light';
$montserrat-bold: 'Montserrat-SemiBold';
$montserrat-regular: 'Montserrat-Regular';
$montserrat-light: 'Montserrat-Light';
$body-font-color: $slate-gray;
$body-font-family: 'Montserrat-Light'; // OR
$body-font-family2: 'Nexa-Book';

// Slider
$dots-active-color: $slate-gray;
$dots-inactive-color: $mig-gray;

// Media Query Ranges
$xs-up: 361px !default;
$sm-up: 601px !default;
$md-up: 993px !default;
$lg-up: 1201px !default;
$xl-up: 1601px !default;
$xs: 360px !default;
$sm: 600px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1600px !default;