/*** MAIN PROJECT VARIABLES ***/
/* MIXINS */
.flexRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .flexRow .flex-5 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 5%; }
  .flexRow .flex-10 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 10%; }
  .flexRow .flex-15 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 15%; }
  .flexRow .flex-20 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 20%; }
  .flexRow .flex-25 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 25%; }
  .flexRow .flex-30 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 30%; }
  .flexRow .flex-35 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 35%; }
  .flexRow .flex-40 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 40%; }
  .flexRow .flex-45 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 45%; }
  .flexRow .flex-50 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 50%; }
  .flexRow .flex-55 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 55%; }
  .flexRow .flex-60 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 60%; }
  .flexRow .flex-65 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 65%; }
  .flexRow .flex-70 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 70%; }
  .flexRow .flex-75 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 75%; }
  .flexRow .flex-80 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 80%; }
  .flexRow .flex-85 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 85%; }
  .flexRow .flex-90 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 90%; }
  .flexRow .flex-95 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 95%; }
  .flexRow .flex-100 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 100%; }

.flexColumn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .flexColumn .flex-5 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 5%; }
  .flexColumn .flex-10 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 10%; }
  .flexColumn .flex-15 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 15%; }
  .flexColumn .flex-20 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 20%; }
  .flexColumn .flex-25 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 25%; }
  .flexColumn .flex-30 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 30%; }
  .flexColumn .flex-35 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 35%; }
  .flexColumn .flex-40 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 40%; }
  .flexColumn .flex-45 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 45%; }
  .flexColumn .flex-50 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 50%; }
  .flexColumn .flex-55 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 55%; }
  .flexColumn .flex-60 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 60%; }
  .flexColumn .flex-65 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 65%; }
  .flexColumn .flex-70 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 70%; }
  .flexColumn .flex-75 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 75%; }
  .flexColumn .flex-80 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 80%; }
  .flexColumn .flex-85 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 85%; }
  .flexColumn .flex-90 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 90%; }
  .flexColumn .flex-95 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 95%; }
  .flexColumn .flex-100 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 100%; }

.flexWrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flexNoWrap {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.alignStretch {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch; }

.alignCenter {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.alignTop {
  -webkit-align-items: top;
  -moz-align-items: top;
  -ms-align-items: top;
  align-items: top; }

.alignBottom {
  -webkit-align-items: bottom;
  -moz-align-items: bottom;
  -ms-align-items: bottom;
  align-items: bottom; }

.justifyStart {
  -webkit-justify-content: start;
  -moz-justify-content: start;
  -ms-justify-content: start;
  justify-content: start;
  -ms-flex-pack: start; }

.justifyCenter {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.justifyTop {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.justifyBottom {
  -webkit-justify-content: bottom;
  -moz-justify-content: bottom;
  -ms-justify-content: bottom;
  justify-content: bottom;
  -ms-flex-pack: bottom; }

.justifySpaceAround {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around; }

.flexAuto {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.m-8 {
  margin: 8px; }
  @media only screen and (max-width: 600px) {
    .m-8 {
      margin: 4px; } }

.mt-8 {
  margin-top: 8px; }
  @media only screen and (max-width: 600px) {
    .mt-8 {
      margin-top: 4px; } }

.mr-8 {
  margin-right: 8px; }
  @media only screen and (max-width: 600px) {
    .mr-8 {
      margin-right: 4px; } }

.mb-8 {
  margin-bottom: 8px; }
  @media only screen and (max-width: 600px) {
    .mb-8 {
      margin-bottom: 4px; } }

.ml-8 {
  margin-left: 8px; }
  @media only screen and (max-width: 600px) {
    .ml-8 {
      margin-left: 4px; } }

.m-16 {
  margin: 16px; }
  @media only screen and (max-width: 600px) {
    .m-16 {
      margin: 8px; } }

.mt-16 {
  margin-top: 16px; }
  @media only screen and (max-width: 600px) {
    .mt-16 {
      margin-top: 8px; } }

.mr-16 {
  margin-right: 16px; }
  @media only screen and (max-width: 600px) {
    .mr-16 {
      margin-right: 8px; } }

.mb-16 {
  margin-bottom: 16px; }
  @media only screen and (max-width: 600px) {
    .mb-16 {
      margin-bottom: 8px; } }

.ml-16 {
  margin-left: 16px; }
  @media only screen and (max-width: 600px) {
    .ml-16 {
      margin-left: 8px; } }

.m-24 {
  margin: 24px; }
  @media only screen and (max-width: 600px) {
    .m-24 {
      margin: 12px; } }

.mt-24 {
  margin-top: 24px; }
  @media only screen and (max-width: 600px) {
    .mt-24 {
      margin-top: 12px; } }

.mr-24 {
  margin-right: 24px; }
  @media only screen and (max-width: 600px) {
    .mr-24 {
      margin-right: 12px; } }

.mb-24 {
  margin-bottom: 24px; }
  @media only screen and (max-width: 600px) {
    .mb-24 {
      margin-bottom: 12px; } }

.ml-24 {
  margin-left: 24px; }
  @media only screen and (max-width: 600px) {
    .ml-24 {
      margin-left: 12px; } }

.m-32 {
  margin: 32px; }
  @media only screen and (max-width: 600px) {
    .m-32 {
      margin: 16px; } }

.mt-32 {
  margin-top: 32px; }
  @media only screen and (max-width: 600px) {
    .mt-32 {
      margin-top: 16px; } }

.mr-32 {
  margin-right: 32px; }
  @media only screen and (max-width: 600px) {
    .mr-32 {
      margin-right: 16px; } }

.mb-32 {
  margin-bottom: 32px; }
  @media only screen and (max-width: 600px) {
    .mb-32 {
      margin-bottom: 16px; } }

.ml-32 {
  margin-left: 32px; }
  @media only screen and (max-width: 600px) {
    .ml-32 {
      margin-left: 16px; } }

.p-8 {
  padding: 8px; }
  @media only screen and (max-width: 600px) {
    .p-8 {
      padding: 4px; } }

.pt-8 {
  padding-top: 8px; }
  @media only screen and (max-width: 600px) {
    .pt-8 {
      padding-top: 4px; } }

.pr-8 {
  padding-right: 8px; }
  @media only screen and (max-width: 600px) {
    .pr-8 {
      padding-right: 4px; } }

.pb-8 {
  padding-bottom: 8px; }
  @media only screen and (max-width: 600px) {
    .pb-8 {
      padding-bottom: 4px; } }

.pl-8 {
  padding-left: 8px; }
  @media only screen and (max-width: 600px) {
    .pl-8 {
      padding-left: 4px; } }

.p-16 {
  padding: 16px; }
  @media only screen and (max-width: 600px) {
    .p-16 {
      padding: 8px; } }

.pt-16 {
  padding-top: 16px; }
  @media only screen and (max-width: 600px) {
    .pt-16 {
      padding-top: 8px; } }

.pr-16 {
  padding-right: 16px; }
  @media only screen and (max-width: 600px) {
    .pr-16 {
      padding-right: 8px; } }

.pb-16 {
  padding-bottom: 16px; }
  @media only screen and (max-width: 600px) {
    .pb-16 {
      padding-bottom: 8px; } }

.pl-16 {
  padding-left: 16px; }
  @media only screen and (max-width: 600px) {
    .pl-16 {
      padding-left: 8px; } }

.p-24 {
  padding: 24px; }
  @media only screen and (max-width: 600px) {
    .p-24 {
      padding: 12px; } }

.pt-24 {
  padding-top: 24px; }
  @media only screen and (max-width: 600px) {
    .pt-24 {
      padding-top: 12px; } }

.pr-24 {
  padding-right: 24px; }
  @media only screen and (max-width: 600px) {
    .pr-24 {
      padding-right: 12px; } }

.pb-24 {
  padding-bottom: 24px; }
  @media only screen and (max-width: 600px) {
    .pb-24 {
      padding-bottom: 12px; } }

.pl-24 {
  padding-left: 24px; }
  @media only screen and (max-width: 600px) {
    .pl-24 {
      padding-left: 12px; } }

.p-32 {
  padding: 32px; }
  @media only screen and (max-width: 600px) {
    .p-32 {
      padding: 16px; } }

.pt-32 {
  padding-top: 32px; }
  @media only screen and (max-width: 600px) {
    .pt-32 {
      padding-top: 16px; } }

.pr-32 {
  padding-right: 32px; }
  @media only screen and (max-width: 600px) {
    .pr-32 {
      padding-right: 16px; } }

.pb-32 {
  padding-bottom: 32px; }
  @media only screen and (max-width: 600px) {
    .pb-32 {
      padding-bottom: 16px; } }

.pl-32 {
  padding-left: 32px; }
  @media only screen and (max-width: 600px) {
    .pl-32 {
      padding-left: 16px; } }

.no-m {
  margin: 0; }

.no-mt {
  margin-top: 0; }

.no-mr {
  margin-right: 0; }

.no-mb {
  margin-bottom: 0; }

.no-ml {
  margin-left: 0; }

.no-p {
  padding: 0; }

.no-pt {
  padding-top: 0; }

.no-pr {
  padding-right: 0; }

.no-pb {
  padding-bottom: 0; }

.no-pl {
  padding-left: 0; }

.dot, ._dot_27k82_1 {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 4px;
  display: inline-block;
  background-color: #DBE0E4;
  border: 1px solid #DBE0E4; }
  .dot.carousel__dot--selected, .carousel__dot--selected._dot_27k82_1 {
    background-color: #586881;
    border: 1px solid #586881; }

._buttonBack_113ph_1 {
  color: inherit;
  font-weight: normal;
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: 0 none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em; }
  ._buttonBack_113ph_1:before {
    content: '<'; }
  ._buttonBack_113ph_1[disabled] {
    display: none; }

._buttonFirst_y31jn_1 {
  cursor: pointer; }

._buttonNext_p1bs6_1 {
  color: inherit;
  font-weight: normal;
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: 0 none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  cursor: pointer; }
  ._buttonNext_p1bs6_1:after {
    content: '>'; }
  ._buttonNext_p1bs6_1[disabled] {
    opacity: 0.4;
    cursor: default; }

._buttonLast_x8dvv_1 {
  cursor: pointer; }

._buttonNext_p1bs6_1 {
  cursor: pointer; }

._dot_27k82_1 {
  cursor: pointer; }

._image_u458c_1 {
  display: block;
  width: 100%;
  height: 100%; }

._container_1xog2_1 {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%; }

._overlay_1xog2_8 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  cursor: zoom-in;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s; }

._hover_1xog2_19, ._loading_1xog2_27, ._zoom_1xog2_23 {
  opacity: 1; }

._imageLoadingSpinnerContainer_1xog2_31 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f7f2e8; }

._slideInner_fhwgk_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

._slideHorizontal_fhwgk_1 {
  float: left; }

._slide_fhwgk_1 {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 0;
  margin: 0;
  list-style-type: none; }

._slide_fhwgk_1:focus {
  outline: none !important; }

._focusRing_fhwgk_26 {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  pointer-events: none;
  outline-width: 5px;
  outline-style: solid;
  outline-color: Highlight; }

@media (-webkit-min-device-pixel-ratio: 0) {
  ._focusRing_fhwgk_26 {
    outline-style: auto;
    outline-color: -webkit-focus-ring-color; } }

._horizontalSlider_9ve3r_1 {
  position: relative;
  overflow: hidden; }

._horizontalSliderTray_9ve3r_1 {
  overflow: hidden;
  width: 100%; }

._verticalSlider_9ve3r_11 {
  position: relative;
  overflow: hidden; }

._verticalSliderTray_9ve3r_1 {
  overflow: hidden; }

._verticalTray_9ve3r_20 {
  float: left; }

._verticalSlideTrayWrap_9ve3r_24 {
  overflow: hidden; }

._sliderTray_9ve3r_28 {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0; }

._sliderAnimation_9ve3r_35 {
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }

._masterSpinnerContainer_9ve3r_40 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f7f2e8; }

._spinner_1dguc_1 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  -webkit-animation-name: a;
  animation-name: a;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-width: 4px;
  border-style: solid;
  border-top-color: #000;
  border-right-color: #a9a9a9;
  border-bottom-color: #a9a9a9;
  border-left-color: #a9a9a9;
  border-radius: 30px; }

@-webkit-keyframes a {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes a {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

/*# sourceMappingURL=react-carousel.es.css.map */
