.flexRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .flexRow .flex-5 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 5%; }
  .flexRow .flex-10 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 10%; }
  .flexRow .flex-15 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 15%; }
  .flexRow .flex-20 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 20%; }
  .flexRow .flex-25 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 25%; }
  .flexRow .flex-30 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 30%; }
  .flexRow .flex-35 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 35%; }
  .flexRow .flex-40 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 40%; }
  .flexRow .flex-45 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 45%; }
  .flexRow .flex-50 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 50%; }
  .flexRow .flex-55 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 55%; }
  .flexRow .flex-60 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 60%; }
  .flexRow .flex-65 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 65%; }
  .flexRow .flex-70 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 70%; }
  .flexRow .flex-75 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 75%; }
  .flexRow .flex-80 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 80%; }
  .flexRow .flex-85 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 85%; }
  .flexRow .flex-90 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 90%; }
  .flexRow .flex-95 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 95%; }
  .flexRow .flex-100 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 100%; }

.flexColumn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .flexColumn .flex-5 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 5%; }
  .flexColumn .flex-10 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 10%; }
  .flexColumn .flex-15 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 15%; }
  .flexColumn .flex-20 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 20%; }
  .flexColumn .flex-25 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 25%; }
  .flexColumn .flex-30 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 30%; }
  .flexColumn .flex-35 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 35%; }
  .flexColumn .flex-40 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 40%; }
  .flexColumn .flex-45 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 45%; }
  .flexColumn .flex-50 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 50%; }
  .flexColumn .flex-55 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 55%; }
  .flexColumn .flex-60 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 60%; }
  .flexColumn .flex-65 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 65%; }
  .flexColumn .flex-70 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 70%; }
  .flexColumn .flex-75 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 75%; }
  .flexColumn .flex-80 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 80%; }
  .flexColumn .flex-85 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 85%; }
  .flexColumn .flex-90 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 90%; }
  .flexColumn .flex-95 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 95%; }
  .flexColumn .flex-100 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 100%; }

.flexWrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flexNoWrap {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.alignStretch {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch; }

.alignCenter {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.alignTop {
  -webkit-align-items: top;
  -moz-align-items: top;
  -ms-align-items: top;
  align-items: top; }

.alignBottom {
  -webkit-align-items: bottom;
  -moz-align-items: bottom;
  -ms-align-items: bottom;
  align-items: bottom; }

.justifyStart {
  -webkit-justify-content: start;
  -moz-justify-content: start;
  -ms-justify-content: start;
  justify-content: start;
  -ms-flex-pack: start; }

.justifyCenter {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.justifyTop {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.justifyBottom {
  -webkit-justify-content: bottom;
  -moz-justify-content: bottom;
  -ms-justify-content: bottom;
  justify-content: bottom;
  -ms-flex-pack: bottom; }

.justifySpaceAround {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around; }

.justifySpaceBetween {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }

.flexAuto {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.m-8 {
  margin: 8px !important; }
  @media only screen and (max-width: 600px) {
    .m-8 {
      margin: 4px !important; } }

.mt-8 {
  margin-top: 8px !important; }
  @media only screen and (max-width: 600px) {
    .mt-8 {
      margin-top: 4px !important; } }

.mr-8 {
  margin-right: 8px !important; }
  @media only screen and (max-width: 600px) {
    .mr-8 {
      margin-right: 4px !important; } }

.mb-8 {
  margin-bottom: 8px !important; }
  @media only screen and (max-width: 600px) {
    .mb-8 {
      margin-bottom: 4px !important; } }

.ml-8 {
  margin-left: 8px !important; }
  @media only screen and (max-width: 600px) {
    .ml-8 {
      margin-left: 4px !important; } }

.m-16 {
  margin: 16px !important; }
  @media only screen and (max-width: 600px) {
    .m-16 {
      margin: 8px !important; } }

.mt-16 {
  margin-top: 16px !important; }
  @media only screen and (max-width: 600px) {
    .mt-16 {
      margin-top: 8px !important; } }

.mr-16 {
  margin-right: 16px !important; }
  @media only screen and (max-width: 600px) {
    .mr-16 {
      margin-right: 8px !important; } }

.mb-16 {
  margin-bottom: 16px !important; }
  @media only screen and (max-width: 600px) {
    .mb-16 {
      margin-bottom: 8px !important; } }

.ml-16 {
  margin-left: 16px !important; }
  @media only screen and (max-width: 600px) {
    .ml-16 {
      margin-left: 8px !important; } }

.m-24 {
  margin: 24px !important; }
  @media only screen and (max-width: 600px) {
    .m-24 {
      margin: 12px !important; } }

.mt-24 {
  margin-top: 24px !important; }
  @media only screen and (max-width: 600px) {
    .mt-24 {
      margin-top: 12px !important; } }

.mr-24 {
  margin-right: 24px !important; }
  @media only screen and (max-width: 600px) {
    .mr-24 {
      margin-right: 12px !important; } }

.mb-24 {
  margin-bottom: 24px !important; }
  @media only screen and (max-width: 600px) {
    .mb-24 {
      margin-bottom: 12px !important; } }

.ml-24 {
  margin-left: 24px !important; }
  @media only screen and (max-width: 600px) {
    .ml-24 {
      margin-left: 12px !important; } }

.m-32 {
  margin: 32px !important; }
  @media only screen and (max-width: 600px) {
    .m-32 {
      margin: 16px !important; } }

.mt-32 {
  margin-top: 32px !important; }
  @media only screen and (max-width: 600px) {
    .mt-32 {
      margin-top: 16px !important; } }

.mr-32 {
  margin-right: 32px !important; }
  @media only screen and (max-width: 600px) {
    .mr-32 {
      margin-right: 16px !important; } }

.mb-32 {
  margin-bottom: 32px !important; }
  @media only screen and (max-width: 600px) {
    .mb-32 {
      margin-bottom: 16px !important; } }

.ml-32 {
  margin-left: 32px !important; }
  @media only screen and (max-width: 600px) {
    .ml-32 {
      margin-left: 16px !important; } }

.p-8 {
  padding: 8px !important; }
  @media only screen and (max-width: 600px) {
    .p-8 {
      padding: 4px !important; } }

.pt-8 {
  padding-top: 8px !important; }
  @media only screen and (max-width: 600px) {
    .pt-8 {
      padding-top: 4px !important; } }

.pr-8 {
  padding-right: 8px !important; }
  @media only screen and (max-width: 600px) {
    .pr-8 {
      padding-right: 4px !important; } }

.pb-8 {
  padding-bottom: 8px !important; }
  @media only screen and (max-width: 600px) {
    .pb-8 {
      padding-bottom: 4px !important; } }

.pl-8 {
  padding-left: 8px !important; }
  @media only screen and (max-width: 600px) {
    .pl-8 {
      padding-left: 4px !important; } }

.p-16 {
  padding: 16px !important; }
  @media only screen and (max-width: 600px) {
    .p-16 {
      padding: 8px !important; } }

.pt-16 {
  padding-top: 16px !important; }
  @media only screen and (max-width: 600px) {
    .pt-16 {
      padding-top: 8px !important; } }

.pr-16 {
  padding-right: 16px !important; }
  @media only screen and (max-width: 600px) {
    .pr-16 {
      padding-right: 8px !important; } }

.pb-16 {
  padding-bottom: 16px !important; }
  @media only screen and (max-width: 600px) {
    .pb-16 {
      padding-bottom: 8px !important; } }

.pl-16 {
  padding-left: 16px !important; }
  @media only screen and (max-width: 600px) {
    .pl-16 {
      padding-left: 8px !important; } }

.p-24 {
  padding: 24px !important; }
  @media only screen and (max-width: 600px) {
    .p-24 {
      padding: 12px !important; } }

.pt-24 {
  padding-top: 24px !important; }
  @media only screen and (max-width: 600px) {
    .pt-24 {
      padding-top: 12px !important; } }

.pr-24 {
  padding-right: 24px !important; }
  @media only screen and (max-width: 600px) {
    .pr-24 {
      padding-right: 12px !important; } }

.pb-24 {
  padding-bottom: 24px !important; }
  @media only screen and (max-width: 600px) {
    .pb-24 {
      padding-bottom: 12px !important; } }

.pl-24 {
  padding-left: 24px !important; }
  @media only screen and (max-width: 600px) {
    .pl-24 {
      padding-left: 12px !important; } }

.p-32 {
  padding: 32px !important; }
  @media only screen and (max-width: 600px) {
    .p-32 {
      padding: 16px !important; } }

.pt-32 {
  padding-top: 32px !important; }
  @media only screen and (max-width: 600px) {
    .pt-32 {
      padding-top: 16px !important; } }

.pr-32 {
  padding-right: 32px !important; }
  @media only screen and (max-width: 600px) {
    .pr-32 {
      padding-right: 16px !important; } }

.pb-32 {
  padding-bottom: 32px !important; }
  @media only screen and (max-width: 600px) {
    .pb-32 {
      padding-bottom: 16px !important; } }

.pl-32 {
  padding-left: 32px !important; }
  @media only screen and (max-width: 600px) {
    .pl-32 {
      padding-left: 16px !important; } }

.no-m {
  margin: 0 !important; }

.no-mt {
  margin-top: 0 !important; }

.no-mr {
  margin-right: 0 !important; }

.no-mb {
  margin-bottom: 0 !important; }

.no-ml {
  margin-left: 0 !important; }

.no-p {
  padding: 0 !important; }

.no-pt {
  padding-top: 0 !important; }

.no-pr {
  padding-right: 0 !important; }

.no-pb {
  padding-bottom: 0 !important; }

.no-pl {
  padding-left: 0 !important; }
