@import "../../assets/scss/variables";
@import "../../assets/scss/mixins/breakpoints";
@import "../../assets/scss/mixins/mixins";
@import "../../assets/scss/mixins/flexbox";

.sliderImage {
	width: 100%;
	height: auto;
}
.slideWrapper {
	height: 100%;
  @extend .flexColumn;
  @extend .alignCenter;
	@extend .justifySpaceAround;
}
