/* MIXINS */
.flexRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .flexRow .flex-5 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 5%; }
  .flexRow .flex-10 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 10%; }
  .flexRow .flex-15 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 15%; }
  .flexRow .flex-20 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 20%; }
  .flexRow .flex-25 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 25%; }
  .flexRow .flex-30 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 30%; }
  .flexRow .flex-35 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 35%; }
  .flexRow .flex-40 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 40%; }
  .flexRow .flex-45 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 45%; }
  .flexRow .flex-50 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 50%; }
  .flexRow .flex-55 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 55%; }
  .flexRow .flex-60 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 60%; }
  .flexRow .flex-65 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 65%; }
  .flexRow .flex-70 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 70%; }
  .flexRow .flex-75 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 75%; }
  .flexRow .flex-80 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 80%; }
  .flexRow .flex-85 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 85%; }
  .flexRow .flex-90 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 90%; }
  .flexRow .flex-95 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 95%; }
  .flexRow .flex-100 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 100%; }

.flexColumn, .slideWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .flexColumn .flex-5, .slideWrapper .flex-5 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 5%; }
  .flexColumn .flex-10, .slideWrapper .flex-10 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 10%; }
  .flexColumn .flex-15, .slideWrapper .flex-15 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 15%; }
  .flexColumn .flex-20, .slideWrapper .flex-20 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 20%; }
  .flexColumn .flex-25, .slideWrapper .flex-25 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 25%; }
  .flexColumn .flex-30, .slideWrapper .flex-30 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 30%; }
  .flexColumn .flex-35, .slideWrapper .flex-35 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 35%; }
  .flexColumn .flex-40, .slideWrapper .flex-40 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 40%; }
  .flexColumn .flex-45, .slideWrapper .flex-45 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 45%; }
  .flexColumn .flex-50, .slideWrapper .flex-50 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 50%; }
  .flexColumn .flex-55, .slideWrapper .flex-55 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 55%; }
  .flexColumn .flex-60, .slideWrapper .flex-60 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 60%; }
  .flexColumn .flex-65, .slideWrapper .flex-65 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 65%; }
  .flexColumn .flex-70, .slideWrapper .flex-70 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 70%; }
  .flexColumn .flex-75, .slideWrapper .flex-75 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 75%; }
  .flexColumn .flex-80, .slideWrapper .flex-80 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 80%; }
  .flexColumn .flex-85, .slideWrapper .flex-85 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 85%; }
  .flexColumn .flex-90, .slideWrapper .flex-90 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 90%; }
  .flexColumn .flex-95, .slideWrapper .flex-95 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 95%; }
  .flexColumn .flex-100, .slideWrapper .flex-100 {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-height: 100%; }

.flexWrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flexNoWrap {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.alignStretch {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch; }

.alignCenter, .slideWrapper {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.alignTop {
  -webkit-align-items: top;
  -moz-align-items: top;
  -ms-align-items: top;
  align-items: top; }

.alignBottom {
  -webkit-align-items: bottom;
  -moz-align-items: bottom;
  -ms-align-items: bottom;
  align-items: bottom; }

.justifyStart {
  -webkit-justify-content: start;
  -moz-justify-content: start;
  -ms-justify-content: start;
  justify-content: start;
  -ms-flex-pack: start; }

.justifyCenter {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.justifyTop {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.justifyBottom {
  -webkit-justify-content: bottom;
  -moz-justify-content: bottom;
  -ms-justify-content: bottom;
  justify-content: bottom;
  -ms-flex-pack: bottom; }

.justifySpaceAround, .slideWrapper {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around; }

.justifySpaceBetween {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }

.flexAuto {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.sliderImage {
  width: 100%;
  height: auto; }

.slideWrapper {
  height: 100%; }
